/*
  Author: Allen Communication Learning Services
  Copyright: 2015
  Owner: app.scss
  CMD: sass --watch app.scss:../../TrainingCurriculum/css/app.css --style compressed
*/

// Mixin for creating vendor specific transitions.
@mixin transition($prop, $duration) {
  -webkit-transition: $prop $duration;
     -moz-transition: $prop $duration;
       -o-transition: $prop $duration;
          transition: $prop $duration;
}
