<!-- Select list to filter what types of trainings the user is seeing -->
<label for="selectedTrainings">Filter Trainings:</label>
<select id="selectedTrainings" ng-change="updateSelectedTrainings()" ng-model="selectedTrainings">
  <option value="requiredTrainings">Required</option>
  <option value="scheduledTrainings">Scheduled</option>
  <option value="completeTraining">Complete</option>
</select>

<!-- Section containing the currently filtered training data -->
<section class="default training-section">
    <div class="phase-container" ng-repeat="phase in trainings" ng-show="trainings.length">
        <p class="phase-header">{{phase.name}}</p>
        <table class="table table-hover table-training">
            <tr ng-repeat="training in phase.trainings">
                <td>{{training.topic}}</td>
                <td ng-bind-html="renderHtml(training, 'description')"></td>
                <td>{{training.duration}} minutes</td>
            </tr>
        </table>
    </div>
    <div class="phase-empty" ng-hide="trainings.length">
      This list is currently empty.
    </div>
</section>
