<form id="resetPassword" name="resetPassword">
    <div class="form-group">
        <label for="newPassword">New password:</label>
        <input class="form-control" id="newPassword" maxlength="100" name="newPassword" ng-model="account.newPassword" required="required" type="password" />
    </div>
    <div class="form-group">
        <label for="verifyPassword">Verify password:</label>
        <input class="form-control" id="verifyPassword" maxlength="100" name="verifyPassword" ng-model="account.verifyPassword" required="required" type="password" />
    </div>
    <button class="btn btn-default" id="submit" type="submit" ng-click="submit(account)">Update password</button>
</form>
<div class="alert alert-danger" ng-hide="passwordsMatch">
    The passwords do not match.
</div>
